<div class="container mx-2 my-2">
        <div *ngIf="users?.length > 0; else noUsers">
                <ul class="list-group">
                    <li *ngFor="let user of users" class="list-group-item">
                        <div class="row">
                           <div class="col"><strong>{{user.name}}: </strong> {{user.email}}</div>
                           <div class="col-sm-auto">
                               <button (click)="editUser($event, user)" class="btn btn-link">Update</button>
                           </div>
                           <div class="col-sm-auto">
                               <button (click)="deleteUser($event, user)" class="btn btn-link">Delete</button>
                           </div>
                           <div class="w-100"></div>
                           <div *ngIf="editState && userToEdit.id == user.id">
                            <form (ngSubmit)="uf.form.valid &&updateUser(user)" #uf="ngForm" novalidate>
                            <div class="row mx-2">
                                    <div class="col-12">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" [(ngModel)]="user.name" name="name" class="form-control" #name="ngModel" [ngClass]="{'is-invalid':uf.submitted && name.invalid}" required />
                                        <div *ngIf="name.touched && name.invalid"> <!-- name.touched  f.submitted  class="invalid-feedback"-->
                                            <div *ngIf="name.errors.required" class="text-danger">Name is required</div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-12">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" #email="ngModel" [ngClass]="{'is-invalid':uf.submitted && email.invalid}" required email />
                                        <div *ngIf="(email.touched || email.dirty) && email.invalid"> <!--  class="invalid-feedback" f.submitted -->
                                            <div *ngIf="email.errors.required" class="text-danger">Email id is required</div>
                                            <div *ngIf="email.errors.email" class="text-danger">Email must be a valid email Address</div>
                                        </div>  
                                    </div>
                                    </div>
                                    <div class="col-12">
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" #password="ngModel" [ngClass]="{'is-invalid':uf.submitted && password.invalid}" required minlength="6" />
                                        <div *ngIf="password.touched && password.invalid"> <!-- class="invalid-feedback"  uf.submitted -->
                                            <div *ngIf="password.errors.required" class="text-danger">Password is required</div>
                                            <div *ngIf="password.errors.minlength" class="text-danger">Password must be at least {{password.errors.minlength.requiredLength}} characters</div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                    <button class="btn btn-dark" value="update_User">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                    </li>
                </ul>
           </div>

<ng-template #noUsers>
   <h5>There are no users.</h5>
</ng-template>
</div>